body {
  font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.main-content {
height: 100%;
width:100%;
text-align: center;
font-weight: 200;
line-height: 1.54;
font-size: 1rem;
}
.main-content .expand {
  float: left; 
  display: inline; 
  transition: all .4s ease;
  margin: 0 10px;
}
.main-content .turn {
transform: rotate(90deg);
}
.main-content h1 {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px auto;
  color: #bd8aae;
}
.main-content .sidebar-1 {
  /* these are the styles for the container around the menu */
  text-align: left;
  padding: 0;
  display:inline-block;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.7);
  margin: 25px auto 0;
}
.main-content .sidebar-menu {
  cursor: pointer;
  padding: 10px;
  background: #ffffff;
  color: #bd8aae;
  border-bottom: 1px solid #dedede;
  font-size: 24px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  letter-spacing: .5px;
  transition: all 0.4 ease;
}
.main-content .sidebar-menu:hover {
    background: #bd8aae;
    color: #fff;
}
.main-content .sub-menu {
  /*this style is for the sub-menu box*/
  color: #6d4679;
  border: 1px solid #dedede;
  font-size: 18px;
  display: none;
}
.main-content .sub-menu li:hover {
  background: #6d4679;
  color:#f8f8f8;
  cursor: pointer;
}
.main-content .sub-menu li {
  /*this styles individual elements in a sub-menu*/
  padding: 10px 50px;
  background: #f8f8f8;
  border-bottom: 1px solid #dedede;
}
.main-content .sub-menu ul {
  /*this just 0s out a bunch of stuff so that it plays nice with the list stylings*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}